<% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
                <% end %>
            </ul>
        </div>
<% end %>


<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Dados do perfil</h1>
        </div>
        <%= form_with(url: users_backoffice_profile_path, model: @user, local: true, class: "user") do |form| %>
          <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class:"form-control form-control-user"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, class:"form-control form-control-user"%>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= form.label :email %>
                <%= form.text_field :email, class:"form-control form-control-user", readonly: true %>
              </div>
            </div>
            <%= form.fields_for :user_profile do |profile_form| %>
             <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= profile_form.label :address %>
                <%= profile_form.text_field :address, class:"form-control form-control-user"%>
              </div>
            </div>

            <%= profile_form.label :gender, class:"control-label col-md-3 col-sm-3 col-xs-12" %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                  <label class="btn <%= gender_select(@user, 'M') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, "M", "data-parsley-multiple":"gender"%> &nbsp; Masculino &nbsp;
                  </label>
                  <label class="btn <%= gender_select(@user, 'F') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, "F", "data-parsley-multiple":"gender"%> &nbsp; Feminino &nbsp;
                  </label>
                </div>
              </div>
              
             <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= profile_form.label :birthdate %>
                <%= profile_form.date_field :birthdate, class:"form-control form-control-user"%>
              </div>
            </div>
            <% end %>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                <%= form.label :password %>
                <%= form.password_field :password, class:"form-control form-control-user"%>
                </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class:"form-control form-control-user" %>
              </div>
            </div>
        <button type="submit" class="btn btn-outline btn-primary">Salvar</button>
        <% end %>
        <hr>
    </div>
</div>

<%= javascript_tag do %>
               var labels = document.querySelectorAll('div#gender label');

               labels.forEach((label) => {
                 label.addEventListener('click', () => {
                   label.classList.remove('btn-default');
                   label.classList.add('btn-primary');

                   labels.forEach((lbl) => {
                     if(lbl !== label){
                        lbl.classList.remove('btn-primary');
                        lbl.classList.add('btn-default');
                     };
                   });
                 });
               });
            <% end %>